<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Zekria Sarwary">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="Navbar.css">
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="container">
            <div class="merger">
                <div class="nav-logo">
                    <h2>Stay Healthy</h2>
                    <img src="heart-pulse-fill.svg" alt="logo" id="logo">
                </div>
                <ul class="nav-links active">
                    <li class="link"><a href="../Landing_Page/LandingPage.html">Home</a></li>
                    <li class="link"><a href="#">Appointments</a></li>
                    <li class="button"><a href="../Sign_Up/Sign_Up.html"><button class="btn btn-outline-primary">Sign Up</button></a></li>
                    <li class="button"><a href="../Login/Login.html"><button class="btn btn-outline-primary">Login</button></a></li>
                </ul>
            </div>
        </nav>
    </body>
</html>