<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Zekria Sarwary">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet"href="Login.css">
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h2>Login</h2>
            Are you a new member? <a href="../Sign_Up/Sign_Up.html"> Sign Up Here</a>
            <form>
                <label for="Email">Email</label>
                <br/>
                <input type="email" id="email" placeholder="Enter your email" class="input" required>
                <br/>
                <label for="password">Password</label>
                <br/>
                <input type="password" id="password" placeholder="Enter your password" class="input" required>
                <br/>
            </form>
            <div class="btns">
                <input type="submit" value="Submit" class="btn-1">
                <input type="reset" value="Reset" class="btn-2">
            </div>
            <a href="/">Forgot password?</a>
        </div>
    </body>
</html>